 /* Style attributes aligned in specificity order */

   body {
    height: 100%;
    margin: auto;
    scroll-padding-top: 15px;
    scroll-padding-bottom: 15px;
  }
 footer{
    background-color:rgb(199, 199, 199);
    text-align: center;
    font-size: x-large;
    position: fixed;
    bottom: 0;
    width: 100%
}
  .h1{
    position: fixed;
    top: 0;
    width: 100%
    
     
  }
  h1{
    background-color:rgb(199, 199, 199) ;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: xxx-large;
  }


  h2{
      color:rgb(199, 199, 199);
      padding:15px ;
      margin: auto;
  }
  img{
     width: 15%px;
     height: 15%px;
  }
  
  article{
      margin: auto;
      padding-bottom: 30px;
      font-size: 1.2em;
  }
  
 a{
   color:gray;
 }
  
   
  
  figure{
    background-color: #fffafa;
    margin: 1%;
    padding:1%;
    border:2px rgb(195, 195, 195) solid;
  }

  
  .figcaption{
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
  }
    

 
   .card img{
     
     height: 20rem;
     border-radius: 45%;
   }
  
   #MyPhoto{
     margin: auto;
     /* padding-left: 20px;
       height:90%;
       width: 90%;
       opacity: 0.9; */
       border-radius: 50%;
       
   }
  #mainContainer{
    @media (max-width: 767.98px);
    

  }
  
     
  
  
  
 
  