
.h1{
    position: fixed;
    top: 0;
    width: 100%
  }
  h1{
    background-color: rgba(206, 238, 170, 0.781);
  }
  .card-text{
      background-color: rgba(206, 238, 170, 0.781) ;
  }
  footer{
    background-color: rgba(206, 238, 170, 0.781);
    text-align: center;
    font-size: x-large;
    position: fixed;
    bottom: 0;
    width: 100%
}

 
  
  html, body {
    height: 100%;
  }
   
  img{
     width: 250px;
  }
  
  .container{
      float: left;
  }